.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  background-color: #c7c7c7;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}


.App-link {
  color: #61dafb;
}
.field {
  
  border: solid thin;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  color: #222222;
}
.field[readonly] {
  color:#888;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
